<h1>Sign in</h1>

<p id="notice"><%= notice %></p>

<%= form_tag session_path do %>
    <div class="sixteen columns">
      <p>username</p>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="sixteen columns">
      <p>password</p>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div class="sixteen columns">
      <%= submit_tag "Log in" %>
    </div>
<% end %>
