<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Rooms:</strong>
  <% @user.rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, room %></td>
    </tr>
  <% end %>
</p>

<% if current_user.id == @user.id %>
  <%= link_to 'Edit your profile', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
