<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Users online:</strong>
  <%  @room.users.each do |user| %>
    <ul>
      <li><strong><%= link_to user.name, user %></strong></li>
    </ul>
  <% end %>
</p>


<div class="chatWindow">
  <ul id="viestit">
  </ul>
  <!--
  <p>
    <strong>Messages:</strong>
    <% @room.messages.each do |message| %>
      <ul id="viestit">
      </ul>
  <% end %>
  </p>
  -->
</div>

<% if current_user %>
  <div>
    <h3>Send a message:</h3>

    <%= render 'messages/form' %>
  </div>

<% end %>

<button type="button" id="test">Start updating!</button>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
