<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Users online:</strong>
  <%  @room.users.each do |user| %>
    <ul>
      <li><strong><%= link_to user.name, user %></strong></li>
    </ul>
  <% end %>
</p>

<p>
  <strong>Messages:</strong>
  <% @room.messages.each do |message| %>
    <ul>
      <li><strong><%= message.user.name %></strong> <%= message.text %></li>
    </ul>
  <% end %>
</p>

<div>
  <h3>Send a message!</h3>

  <%= form_for(@viesti) do |f| %>
      text: <%= f.text_field :text %>
      <%= f.submit %>
  <% end %>
</div>

<p>
  <strong>Privacy:</strong>
  <%= @room.privacy %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
