<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navibar sixteen columns">
      <%= link_to 'rooms', rooms_path %>
      <%= link_to 'users', users_path %> |
      <% if current_user %>
          <%= link_to current_user.name, user_path(session[:user_id]) %>
          <%= link_to 'signout', signout_path, method: :delete %>
      <% else %>
          <%= link_to 'signin', signin_path %>
          <%= link_to 'signup', signup_path %>
      <% end %>
    </div>

    <%= yield %>
  </div>

</body>
</html>
